/* -------------------------------------------------- */
/* --------------------  HEADER  -------------------- */
/* -------------------------------------------------- */

header {
    background-color: #5d4524;
    /* responsive */
    width: 100%;
    padding: 20px 8%;
}

#navbar {
    /* alignment */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: auto;
    height: 2.6rem;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.nav-item a {
    text-decoration: none;
    color: #f2ece3;
    font-weight: 520;
    font-size: 20px;
    padding-bottom: 0.5rem;
}

.nav-item.active a {
    color: #ffcfd9;
    border-bottom: 2px solid #ffcfd9;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcfd9;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .2s ease;
}

.btn-default:hover {
    background-color: #f2ece3;
}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

/* responsive */
@media screen and (max-width: 1170px) {
    #nav-list,
    #btn-header {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.6rem;
        color: #f2ece3;
        cursor: pointer;
    }

    #mobile-menu.active,
    #mobile-menu.btn-default {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px 0px;
        gap: 12px;
        list-style: none;
    }
}