/* -------------------------------------------------- */
/* -----------------  DEPOIMENTOS  ----------------- */
/* -------------------------------------------------- */

#testimonials {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial-img {
    width: 415px;
    height: auto;
}

#testimonials-content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.feedback-content p span {
    color: #ffcfd9;
}

.testimonial-text {
    text-align: justify;
}

/* responsive */
@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonial-img {
        display: none;
    }

    #testimonials .section-subtitle {
        text-align: center;
    }

    #testimonials-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 680px) {
    .feedback-avatar {
        display: none;
    }
}